<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone Number</th>
            </tr>
            <tr th:block th:each="buddyInfo : ${addressBook.getBuddyInfos()}">
                <td th:text="${buddyInfo.name}"/>
                <td th:text="${buddyInfo.address}"/>
                <td th:text="${buddyInfo.phoneNumber}"/>
            </tr>
        </table>
    </body>
</html>