<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <form action="/book">
        Address Book ID: <input type="number" name="id" id="id"><br>
        <input type="submit" value="Submit"><br>
    </form>
    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone Number</th>
            </tr>
            <tr th:block th:each="buddyInfo : ${addressBook.getBuddyInfos()}">
                <td th:text="${buddyInfo.name}"/>
                <td th:text="${buddyInfo.address}"/>
                <td th:text="${buddyInfo.phoneNumber}"/>
            </tr>
        </table>
    </body>
    <form action="/book" method="post" th:object="${buddyInfo}">
        <br>
        Name: <input type="text" name="name" id="name" th:field="*{name}"><br><br>
        Address: <input type="text" name="address" id="address" th:field="*{address}"><br><br>
        Phone Number: <input type="text" name="phoneNumber" id="phoneNumber" th:field="*{phoneNumber}"><br><br>
        <input type="submit" value="Add Buddy" id="addButton"><br><br>
    </form>
</html>